*
{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.headbar
{   
      margin-bottom: 40px;
    background-color: rgb(209, 244, 83);
    height:40vh;
    width:100%;
   line-height: 100px;

   font-size: 25px;

}
.dashboard
{ 
   
   
    width:100%;
    background-color: rgb(215, 255, 226);
  
    height:200px;
    font-size: 15px;
    border-radius: 5px;
    
}
a{
    font-size: 25px;
    padding:5px;
    margin:5px;
    line-height: 30px;
    color:rgb(42, 198, 255);
    text-decoration: none;
}
